.urbangpt__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
}

.urbangpt__cta-texts {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
}

.urbangpt__cta-texts p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
}

.urbangpt__cta-texts h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}

.urbangpt__cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
     margin-left: 2rem;
}

.urbangpt__cta-button button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}
.urbangpt__cta-button button:hover {
    background:linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%) ;
   

}

@media screen and (max-width: 650px) {
    .urbangpt__cta {
        flex-direction: column;
    }

    .urbangpt__cta-button {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .urbangpt__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .urbangpt__cta-texts h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .urbangpt__cta-button button {
        font-size: 14px;
        line-height: 28px;
    }
}