
.urbangpt__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4rem;
    padding-left: 4rem;
}
.urbangpt__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.urbangpt__navbar-links_logo {
    margin-right: 1rem;
}
.urbangpt__navbar-links_logo img {
    width: 90px;
    height: 45px;
    padding-top: 6px;
}
.urbangpt__navbar-links_logo a {
  cursor: pointer;
}
.urbangpt__navbar-links_nav ul {
   display: flex;
   flex-direction: row;
   list-style: none;
   background-color: none;
   padding: 5px 10px;
}
.urbangpt__navbar-links_nav li {
  padding: 15px 30px;
  line-height: 1;
}
.urbangpt__navbar-links_nav {
   background-color: none;
}
.urbangpt__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.urbangpt__navbar-links_nav li,
.urbangpt__navbar-sign li,
.urbangpt__navbar-menu_nav li {
  color:white;
  font-family: var(--font-family);
  background-color: radial-gradient(circle at 50% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  font-weight: 600;
  line-height: 25px;
  font-size: 15px;
  text-transform: capitalize;
  /*margin:0 1rem;*/
  cursor: pointer;
  list-style: none;
}
.urbangpt__navbar-links_nav ul {
  color:white;
  font-family: var(--font-family);
  list-style: none;
}
.urbangpt__navbar-links_nav li:hover,
.urbangpt__navbar-sign li:hover,
.urbangpt__navbar-menu_nav li:hover {
color: whitesmoke;
}
.urbangpt__navbar-sign p {
color: white;
padding: 10px 10px;
cursor: pointer;
}
.urbangpt__navbar-sign button,
.urbangpt__navbar-menu_nav button {
  padding: 0.6rem 1rem;
  left: 1153px;
  top:55px;
  background:limegreen;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  border-radius: 8px;
  line-height: 25px;
  font-size: 15px;
  cursor: pointer;
  border: 0;
  outline: none;
}
.urbangpt__navbar-sign button:hover,
.urbangpt__navbar-menu_nav button:hover {
  color: whitesmoke;
  background-color: lime;
}
 

.urbangpt__navbar-menu {
    display: none;
    margin-left: 1rem;
   position: relative;
}
.urbangpt__navbar-menu img{
  cursor: pointer;
}
/*NAVI TOGGLE*/
.urbangpt__navbar-menu_nav {
    display: flex;
    justify-content: flex-end;
    position: absolute; 
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    width: 100%;
    background: var(--color-footer);
    padding-top: 48px; 
    right: 15px;
    min-width: 500px;
    max-width: max-content;
    border-radius: 20px;
    box-shadow: 0 0 5 rgba(0,0,0, 0.3);
}

.urbangpt__navbar-menu_nav-links-sign {
     padding-right: 10px;
}
.urbangpt__navbar-menu_nav-links-sign p {
    color:whitesmoke;
    padding: 5px 38px;
    cursor: pointer; 
}
.urbangpt__navbar-menu_nav-links-sign p:hover {
  color: white;
}

.urbangpt__navbar-menu_nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: radial-gradient(circle at 50% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}


@media screen and (max-width: 1050px) {
    .urbangpt__navbar-links_nav {
        display: none;
    }
    .urbangpt__navbar-sign {
        padding: 10px 20px;
     }
    .urbangpt__navbar-menu_nav {
       top:18px;
    }
    .urbangpt__navbar-menu {
        display: flex;
    }
    .urbangpt__navbar-menu_nav-links-sign {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .urbangpt__navbar {
        padding: 1rem 2rem;
    }
    .urbangpt__navbar-menu_nav {
       top: 23px;
    }
    .urbangpt__navbar-sign {
       display: none;
        padding: 10px 20px;
    }
  
    .urbangpt__navbar-menu_nav-links-sign {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
    }
    .urbangpt__navbar-menu_nav-links-sign button {
       padding: 0.5rem 1rem;
    }
    
}

@media screen and (max-width: 550px) {
    .urbangpt__navbar {
        padding: 1rem 1rem;
    }

    .urbangpt__navbar-sign {
        display: none;
    }

    .urbangpt__navbar-menu_nav {
        padding-top: 52px;
        padding-right: none;
    }

   .urbangpt__navbar-menu_container-links-sign {
        display: block; 
    }
    
}